{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="row divider green">
    <div class="col-md-12"></div>
</div>
    <div class="row banner subgenre">
    <div class="col-md-12"></div>
        <h1 style="padding-left: 20px">Are you sure you want to delete Subgenre?</h1>
    </div>
</br>

<form action="#" method ='post'>

    <button type="submit" class="btn btn-default" id="submit" type="submit">
    <span class="glyphicon glyphicon-trash" aria hidden="true"></span>Delete</button>
    <a href = "{{url_for('showGenres')}}">
    <button class="btn btn-default delete" type="button">
    <span class="glyphicon glyphicon-remove" aria hidden="true"></span>Cancel</button>
    </a>

</form>

{% endblock %}